@charset "utf-8";
body h1 {
	color: #FF8600;
	font-family: "HGPｺﾞｼｯｸE";
	font-size: 40px;
}
.key {
	color: #FFFFFF;
	background-color: #0006F8;
	font-size: x-large;
}
body {

}
body {
	background-image: url(banana.png);









	background-size: 35%
%;
}

body p img {
	border: 10px dotted #00FF2C;
}
