@charset "utf-8";
/* ベーススタイル */
body {
  margin: 0;
  padding: 20px;
  background-color: #ffc0cd;
}

h1 {
  font-size: 1.8em;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: center;
  color:#800000;
}

.shop_image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.cakes {
  flex: 1 1 300px;
  max-width: 400px;
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.cakes img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.footer{
  font-size: 0.9em;
  text-align: center;
  margin-top: 40px;
}
