
body {
  margin: 0;
}

header {

  text-align: center;
}

main {
  max-width: 1000px;
  margin: auto;
}

.container {
  display: flex;
}

.box {
  padding:16px;
}


@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}
